<div class="banner">
  <div class="container">
    <h1>Welcome to the Wandering Serpent!</h1>
    <p>The most amazing wares you can find to help you in your travels!</p>
    <%= link_to wares_path do %>
      <button class="btn btn-success">Browse our wares</button>
    <% end %>
  </div>
</div>
